/* 1. Trang chủ - Trần Quốc Gia Huy */

/* Bổ sung css */
.fl{
    float: left;
}
.color_blue{
    color: blue;
}
.color_header_menu_1{
    background-color: #CFD8DC;
}
/* Hết bổ sung css */

/* Search box */
.search
{
    box-sizing: border-box;
}
.search_content
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 50px;
}
#search_box
{
    background: white;
    border-radius: 20px;
}
#search_box #search_text
{
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
#search_box:hover #search_text, #search_box #search_text:valid
{
    width: 200px;
    padding: 10px 0px 10px 15px;
}
#search_box #search_button
{
    background-color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    font-size: 15px;
}
/*Hết Search box */

/* Hết Trang chủ - Trần Quốc Gia Huy */